.card__button {
    background-image: url(../../../images/Acept.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F8FD;
    padding: 0;
    border: none;
    width: 24px;
    height: 24px;
    position: absolute;
    align-self: flex-end;
    margin-top: 25px;
    margin-right: 24px;
}

.card__button:hover {
    cursor: pointer;
}